body {


    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;


}
.boxed {
    border: 0px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    background: floralwhite;
    padding: 20px;
}
.boxed2 {
    border: 0px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 25px;
    background: floralwhite;
    padding: 20px;
}
p{
    text-indent: 30px;
}
.foo {
    counter-reset: foo;
}
.foo2 {
    counter-reset: foo2;
}
.foo3 {
    counter-reset: foo3;
}
.foo4 {
    counter-reset: foo4;
}
.foo li {
    list-style-type: none;
}
.foo2 li {
    list-style-type: none;
}
.foo3 li {
    list-style-type: none;
}
.foo4 li {
    list-style-type: none;
}
.foo li::before {
    counter-increment: foo;
    content: "1 ." counter(foo) " ";
    font-weight: bold;
}
.foo2 li::before {
    counter-increment: foo2;
    content: "2 ." counter(foo2) " ";
    font-weight: bold;
}
.foo3 li::before {
    counter-increment: foo3;
    content: "3 ." counter(foo3) " ";
    font-weight: bold;
}
.foo4 li::before {
    counter-increment: foo4;
    content: "4 ." counter(foo4) " ";
    font-weight: bold;
}
*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
    background: url('https://res.cloudinary.com/hirphaerba240/image/upload/v1562921459/Montgomery-College_ss8bvp.png');
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0% 0% / 0%;
}
header .overlay{
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;

}


button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
    cursor: pointer;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}