<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Java Bootcamp</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style1.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

</head>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/hirphaerba240/image/upload/v1562897829/bt_zrokx9.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/gitHub">GitHub</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/programDesignAlg">Programing Design & Algorithms</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/coreJava">Core Java</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/oop">Object-oriented Java</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="htmlCssBoot">HTML/CSS/Bootstrap</a>
                </div>
            </li>
            <a class="nav-link" href="/mission">Mission</a>
            </li>
            </li>
            <a class="nav-link" href="/javaBootcamp">Java Bootcamp</a>
            </li>
            </li>
            <a class="nav-link" href="/aboutus">Blog Authors</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!-- Page Header -->
<header>
    <div class="overlay">
        <h1>Java Bootcamp</h1>
        <h2>By Hirpha and Firehiwot</h2>
        <br>
        <button><a href="/aboutus">About Us</a></button>
    </div>
</header>

&nbsp;
&nbsp;
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div id="postlist">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="pull-left">What it means to use GitHub</h3>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="pull-right">
                                        <small><em>2019-06-14 12:30:45</em></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <a href="#" class="thumbnail">
                            <img alt="GitHub gif" src="https://www.omgubuntu.co.uk/wp-content/uploads/2018/06/github-logo.jpeg" width=720px height=472px
                            >
                        </a>
                        GitHub has been especially helpful during our journey into coding. Currently we had a huge list of repositories and the ability to push, pull and collaborate on projects.
                        GitHub is an amazing site and the coding future is in the hands of this website. The ability to see and understand everyone else's code helps to others to get better at coding as well.
                        I (Victor) have increasingly enjoyed my experience with GitHub and it's a tool to be reckoned with in the job field. Although Jennifer and I are still new at GitHub, we hope that we will
                        continue to grow in the field and in our knowledge of GitHub.
                    </div>

                    <div class="panel-footer">
                        <span class="label label-default">GitHub</span> <span class="label label-default">Updates</span> <span class="label label-default">Feb</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<!-- Footer -->

<footer>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="copyright text-muted">Copyright &copy;Java Bootcamp 2019</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>